#callback__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Заказать обратный звонок
        p.modal__subheading Введите ваши данные. В течение 5 минут наш специалист Вам перезвонит.
      form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3
            .form-group
              input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required, data-validation-required-message='Заполните поле корректно.', name='name', type='text')
              p.help-block.text-danger
            .form-group
              input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
              p.help-block.text-danger
            .clearfix
              .success
            .text-center
              button.btn.button.modal__btn(name='Заказать обратный звонок', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Заказать звонок
#product__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Заказать обратный звонок
        p.modal__subheading оставьте контакты и в течении 5 минут с вами свяжется мастер для уточнения деталей заказа
      form.modal__form(accept-charset='utf-8', action='https://app.getresponse.com/add_subscriber.html', method='post')
        .row
          .col-xs-12.col-sm-6
            .form-group
              input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required, data-validation-required-message='Заполните поле корректно.', name='name', type='text')
              p.help-block.text-danger
          .col-xs-12.col-sm-6     
            .form-group
              input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
              p.help-block.text-danger
          .col-xs-12.col-sm-6
            .form-group
              input#product-name.form-control.modal__input(name='product', type='text', disabled='disabled')
          .col-xs-12.col-sm-6    
            .form-group
              input.form-control.modal__input.form__phone(placeholder='Количество', name='qty', type='number')
              p.help-block.text-danger
          .col-xs-12.col-sm-6     
            .form-group
              input.form-control.modal__input.form__phone(placeholder='Адрес, отделение почты', name='delivery', type='text')
              p.help-block.text-danger
          .col-xs-12.col-sm-6
            .form-group
              input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш Email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='email')
              p.help-block.text-dangers
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center      
            .form-group
              p.modal__subheading.modal__subheading--product Форма оплаты:
              .question__radio-group.radio-btn
                  input#question-11.radio-btn__control(type='radio', name='payment1')
                  label.radio-btn__box.radio-btn__box--check(for='question-11')
                    span.radio-btn__icon.radio-btn__icon--check
                    span.radio-btn__text Предоплата
              .question__radio-group.radio-btn
                input#question-12.radio-btn__control(type='radio', name='payment1')
                label.radio-btn__box.radio-btn__box--check(for='question-12')
                  span.radio-btn__icon.radio-btn__icon--check
                  span.radio-btn__text Оплата при получении
              input.payment__value(type='hidden', name='payment[]')
            .clearfix
              .success
            .text-center
              button#url4.btn.button.modal__btn(name='Заказать обратный звонок',type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Заказать звонок
              input#order_page_referer4(type='hidden', name='order_page_referer4')
              input(name='campaign_token', type='hidden', value='n8lG2') 
              input(name='thankyou_url', type='hidden', value='http://tagopen.com/termoplaza/mail/mail.php')
              input(name='start_day', type='hidden', value='0')
              input(name='forward_data', type='hidden', value='post')
            script.
              var order_page_referer = document.getElementById("order_page_referer4") ;
              document.getElementById("url4").onclick = function() {
              order_page_referer.value = window.location.href;
              }
#service__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Оставьте ваши контакты
        p.modal__subheading.
          и получите доступ к подробному описанию государственной программы “Теплый дом” и других вариантах рассрочки. Если же у Вас остануться вопросы, то наш специалист любезно вас проконсультирует. 
      form.modal__form.form(accept-charset='utf-8', action='https://app.getresponse.com/add_subscriber.html', method='post')
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            .form-group
              input.form-control.modal__input.form__name(placeholder='Введите Ваш Email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='text')
              p.help-block.text-danger
            .form-group
              input.form-control.modal__input.form__phone(placeholder='Ваш телефон', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
              p.help-block.text-danger
            .clearfix
              .success
            .text-center
              button#url3.btn.button.modal__btn(name='Оставьте ваши контакты', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Заказать звонок
              input(type='hidden', name='order_page_referer3')
              input(name='campaign_token', type='hidden', value='nyZ1s') 
              input(name='thankyou_url', type='hidden', value='http://tagopen.com/termoplaza/mail/mail.php')
              input(name='start_day', type='hidden', value='0')
              input(name='forward_data', type='hidden', value='post')
            script.
              var order_page_referer = document.querySelector("order_page_referer3") ;
              document.getElementById("url3").onclick = function() {
              order_page_referer.value = window.location.href;
              }
#about__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size.modal__size--big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-body
        .row
          .col-xs-12.col-sm-6
            p.modal__subheading
              | Уже более 35 227 Украинцев используют TermoPlaza для обогрева различных помещений. На основе опыта наших Клиентов мы подготовили для Вас статью. Из нее Вы узнаете, как на практике люди используют электропанели для обогрева различных помощений. Оставьте Ваш email и получите доступ к статье.
          .col-xs-12.col-sm-6
            form.modal__form.modal__form--padding(accept-charset='utf-8', action='https://app.getresponse.com/add_subscriber.html', method='post')
              .row
                .col-xs-12.col-md-8.col-md-offset-2
                  .form-group
                    input.form-control.modal__input(placeholder='Введите Ваш Email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='text')
                    p.help-block.text-danger
                    input(type='hidden', name='order_page_referer2')
                    input(name='campaign_token', type='hidden', value='nyiaD') 
                    input(name='thankyou_url', type='hidden', value='http://tagopen.com/termoplaza/mail/mail.php')
                    input(name='start_day', type='hidden', value='0')
                    input(name='forward_data', type='hidden', value='post')
                  .clearfix
                    .success
                  .text-center
                    button#url2.btn.button.modal__btn(name='Оставьте Ваш email и получите доступ к статье', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить статью
                  script.
                    var order_page_referer = document.querySelector("order_page_referer2") ;
                    document.getElementById("url2").onclick = function() {
                    order_page_referer.value = window.location.href;
                    }

#product1.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza 225
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product1
                tr
                  td!= product.name
                  td!= product.value
#product2.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza 375
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product2
                tr
                  td!= product.name
                  td!= product.value
#product3.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza 475
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product3
                tr
                  td!= product.name
                  td!= product.value
#product4.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza 700
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product4
                tr
                  td!= product.name
                  td!= product.value
#product5.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza STP 225
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product5
                tr
                  td!= product.name
                  td!= product.value
#product6.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza STP 375
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product6
                tr
                  td!= product.name
                  td!= product.value
#product7.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza STP 475
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product7
                tr
                  td!= product.name
                  td!= product.value
#product8.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-head
        h2.heading TermoPlaza STP 700
      .modal-body
        .table-responsive
          table.table.table-striped
            tbody
              each product in product8
                tr
                  td!= product.name
                  td!= product.value
#quality__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size.modal__size--big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal-body
        .row
          .col-xs-12.col-sm-6
            p.modal__subheading
              | Оставьте ваши контакты и получите просчет стоимости обогревателей для вашего объекта. В подарок, мы отправим вам на почту статью "Как не потратить лишнего при выборе обогревателя?"
          .col-xs-12.col-sm-6
            form.modal__form(accept-charset='utf-8', action='https://app.getresponse.com/add_subscriber.html', method='post')
              .row
                .col-xs-12.col-md-8.col-md-offset-2
                  .form-group
                    input.form-control.modal__input(placeholder='Введите Ваш Email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='email')
                .col-xs-12.col-md-8.col-md-offset-2
                  .form-group
                    input.form-control.modal__input(placeholder='Введите Ваш телефон', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                    p.help-block.text-danger
                    input(type='hidden', name='order_page_referer5')
                    input(name='campaign_token', type='hidden', value='n8lG2') 
                    input(name='thankyou_url', type='hidden', value='http://tagopen.com/termoplaza/mail/mail.php')
                    input(name='start_day', type='hidden', value='0')
                    input(name='forward_data', type='hidden', value='post')
                  .clearfix
                    .success
                  .text-center
                    button#url5.btn.button.modal__btn(name='Оставьте Ваш email и получите доступ к статье', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить статью
                  script.
                    var order_page_referer = document.querySelector("order_page_referer5") ;
                    document.getElementById("url5").onclick = function() {
                    order_page_referer.value = window.location.href;
                    }
